@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* font-family: 'Raleway', sans-serif; */

:root {
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/images/bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}




main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

section:first-of-type {
    height: 200px;
    width: 85%;
    max-width: 360px;
    background-color: var(--Dark-Blue);
    padding: 2.5rem;
    border-radius: 0.5rem;
    border-top-right-radius: 6.3rem;
    
}


.buttons img {
    background-color: var(--Very-Dark-Blue);
    height: 50px;
    width: 50px;
    padding: 0.9rem;
    border-radius: 0.7rem;
    margin-right: 0.6rem;
    margin-top: 1.5rem;
}


section:nth-child(2) {
    height: 160px;
    width: 85%;
    max-width: 560px;
    background-color: var(--Dark-Blue);
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    color: var(--Pale-Blue);
    font-family: 'Raleway', sans-serif;
    position: relative;
  
}

section:nth-child(2) h2 {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    
}

section:nth-child(2) span {
    font-weight: 700;
    
}

.storage-display {
    height: 18px;
    width: 100%;
    background-color: hsla(229, 57%, 11%, 0.459);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
}

.linear-line {
    width: 70%;
    height: 80%;
    border-radius: 1rem;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
}

.linear-point {
    background-color: white;
    height: 80%;
    width: 12px;
    border-radius: 10rem;
    margin-left: auto;
   
}

.left-storage {
    height: 65px;
    width: 160px;
    background-color: white;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.left-storage h4 {
    color: var(--Very-Dark-Blue);
    font-size: 2.2rem;
}

.left-storage h5 {
    color: var(--Grayish-Blue);
    font-size: .8rem;
    letter-spacing: 0.03rem;
}

.size-numbers {
    display: flex;
    font-size: .7rem;
}

.size-numbers h3:nth-child(2) {
    margin-left: auto;
}

footer {
    position: fixed;
    bottom: 0;

}

.attribution { 
    font-size: 11px; text-align: center; 
    color: white;
}
.attribution a { 
        color: rgb(36, 179, 214); 
}

@media screen and (min-width: 1050px) {
    body {
    background: url(/images/bg-desktop.png);
    background-size: 100% 51%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    background-color: var(--Very-Dark-Blue);
    }

    main {
        flex-direction: row;
        gap: 2rem;
    }
    
    section:first-child {
        
    } 

    section:nth-child(2) {
        margin-bottom: -3rem;
        
    }

    section:nth-child(2) h2 {
        text-align: left;
    }

    .left-storage {
        margin: inherit;
        margin-left: auto;
        position: absolute;
        right: 6%;
        top: -24%;
        border-bottom-right-radius: 0;
    }

    .left-storage:before {
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid white;
        border-top: 10px solid white;
        content:"";
        position: absolute;
        right: 0px;
        top: 63px;
    }
}